@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
};

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;

}

/* 🌞 Light Theme */
:root[data-theme="light"] {
  --background: #f7f7f7;
  --foreground: white;

  --theme-primary: #33cc33;
  --theme-background: #020d1c;

  --text-primary: #000000;
  --text-secondary: #64748b;
  --text-white: white;
}

/* 🌞 Light Theme */
:root[data-theme="dark"] {
  --background: #000000;
  --foreground: #141414;

  --theme-primary: #33cc33;
  --theme-background: #020d1c;

  --text-primary: #ffffff;
  --text-secondary: #9ca9bb;
  --text-white: white;
}

@theme inline {
  /* colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-theme-primary: var(--theme-primary);
  --color-theme-background: var(--theme-background);

  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-text-white: var(--text-white);

  /* fonts */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* breakpoints */
  /* 448px */
  --breakpoint-xs: 28rem;
  /* 576px */
  --breakpoint-tablet: 36rem;
  /* 992px */
  --breakpoint-desktop: 62rem;

}

body {
  /* background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif; */
}